<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Creditos </h1>
    <p>Autor:Armando Rincón</p>
    <p><img src="/images/Armando.JPG" border="0" alt="Armando Rincón"><p>
    <p>
    Les muestro un video acerca del un lugar en M&eacute;xico que vale la pena visitar<p>
    Se trata de Chicomoztoc, un sitio arqueol&oacute;gico en el estado de Zacatecas M&eacute;xico <p>
    <br><p>
    <video width="320" height="240" controls>
    <source src="/images/PiramideChicomoztocVillanuevaZacatecas.mp4" type="video/mp4">
    Tu Visualizador Web no soporta el tipo de video. 
    </video>
  </body>
</html>
