<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css'>
	</head>
	<body>
	<center>
<h2>Login</h2>

<form method="POST" action="/login">
<table>
	<tr>
		<td align="right">
			<div class="field">
			<label for="login">Login:</label>
		</td>
		<td>
			<input type="text" id="login" name="login" size="20">
			</div>
		</td>
	</tr>
	<tr>
		<td align="right">
			<div class="field">
			<label for="password">Password:</label>
		</td>
		<td>
			<input type="password"  id="password" name="password" size="20">
			</div>
		</td>
	</tr>
</table>
	<div class="actions">
		<input name="commit" type="submit" value="Login">
	</div>
</form>
</center>
</body>
</html>